<div class="kazhat-video-grid"
     data-controller="kazhat--video-grid"
     data-kazhat--video-grid-target="grid">

  <div class="kazhat-local-video">
    <video data-kazhat--video-grid-target="localVideo" autoplay playsinline muted></video>
  </div>
</div>
